# Local files
__config/
__local/
__logs/
__scratch*

# Files for IDE and compiler
.idea/
*.pyc

# Ignore the config file name suggested in the README in case a user places it in the root of the repo
config.toml
